.navegadorFlex {display: flex; flex-direction: row;
    justify-content: center; flex-wrap: wrap; margin-top: 0.5em;}



nav  {background-color: #325935; font-family: 'Yaldevi', sans-serif;
     font-weight: bolder; border-top-style: solid ;
     font-size: 2.5vh; border-color: $colorsecundario ;
     border-width: 1px; box-shadow: $sombras;}

.navegadorFlex__link {color: white; text-decoration: none; transition: all  1s; padding: 0.43em; text-shadow: 0px 7px 9px #00060d;; }
 .navegadorFlex__link:hover { color: #00060D; }
.current {color: #00060D;}
